{% extends '../layoutes/index.html' %}
{% load static %}





{% block home %}

<!-- Start Slider Area -->
<div class="slider__container slider--one bg__cat--3">
    <div class="slide__container slider__activation__wrap owl-carousel">
        {% for item in header_slider %}
        <!-- Start Single Slide -->
        <div class="single__slide animation__style01 slider__fixed--height">
            <div class="container">

                <div class="row align-items__center">
                    <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                        <div class="slide">
                            <div class="slider__inner">
                                <h2>{{ item.min_title }}</h2>
                                <h1>{{ item.title }}</h1>
                                <div class="cr__btn">
                                    <a href="cart.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                        <div class="slide__thumb">
                            <img src="{% static item.img %}" style="height: 400px; width: 600px; border-radius: 5%;"
                                alt="slider images">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Single Slide -->
        {% endfor %}
    </div>
</div>
<!-- Start Slider Area -->






<!-- Start Category Area -->
<section class="htc__category__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">New Arrivals</h2>
                    <p>But I must explain to you how all this mistaken idea</p>
                </div>
            </div>
        </div>
        <div class="htc__product__container">
            <div class="row">
                <div class="product__list clearfix mt--30">
                    {% for item in new_products|slice:":4" %}
                    {% if item.availability == 'available' %}
                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="/product_details/{{item.id}}">
                                    <img src="{% static item.image %}" alt="product images">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li>
                                        <a onclick="Whishlist(this)"
                                            data-item='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}", "discount": "{{ item.discount }}" , "amount": "{{ item.amount }}" }'>
                                            <i class="icon-heart icons"></i>
                                        </a>
                                    </li>


                                    <li>
                                        <a onclick="Card(this)"
                                            data-card='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}" }'>

                                            <i class="icon-handbag icons"></i></a>
                                    </li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">{{item.name}}</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">${{item.price}}</li>
                                    <li>${{item.discount}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Category Area -->












<!-- Start Product Area -->
<section class="ftr__product__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Best Seller</h2>
                    <p>But I must explain to you how all this mistaken idea</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product__wrap clearfix">
                <!-- Start Single Category -->
                {% for item in best_seller|slice:":4" %}
                <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="{% static item.image %}" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                            <ul class="product__action">
                                <li>
                                    <a onclick="Whishlist(this)"
                                        data-item='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}", "discount": "{{ item.discount }}" , "amount": "{{ item.amount }}" }'>
                                        <i class="icon-heart icons"></i>
                                    </a>
                                </li>


                                <li>
                                    <a onclick="Card(this)"
                                        data-card='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}" }'>

                                        <i class="icon-handbag icons"></i></a>
                                </li>

                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">{{item.name}}</a></h4>
                            <ul class="fr__pro__prize">
                                <li class="old__prize">${{item.price}}</li>
                                <li>${{item.discount}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single Category -->

            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->



<!-- Start Top Rated Area -->
<section class="top__rated__area bg__white pt--100 pb--110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Top Rated</h2>
                    <p>But I must explain to you</p>
                </div>
            </div>
        </div>
        <div class="row mt--20">
            {% for item in top_rate|slice:":3" %}
            {% if item.availability == 'available' %}
            <!-- Start Single Product -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="htc__best__product">
                    <div class="htc__best__pro__thumb">
                        <a href="/product_details/{{item.id}}">
                            <img src="{% static item.image %}" style="width: 250px; height: 200px;" alt="small product">
                        </a>
                    </div>
                    <div class="htc__best__product__details">
                        <h2 style="width: 150px; height: 120px; border:2px solid red;"><a href="product-details/{{item.id}}">{{item.name}}</a></h2>
                        <ul class="rating">
                            {{item.Rate}}
                        </ul>
                        <ul class="top__pro__prize">
                            <li class="old__prize">$${{item.price}}</li>
                            <li>$${{item.discount}}</li>
                        </ul>
                        <div class="best__product__action">
                            <ul class="product__action--dft">
                                <li>
                                    <a onclick="Whishlist(this)"
                                        data-item='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}", "discount": "{{ item.discount }}" , "amount": "{{ item.amount }}" }'>
                                        <i class="icon-heart icons"></i>
                                    </a>
                                </li>


                                <li>
                                    <a onclick="Card(this)"
                                        data-card='{ "id": "{{ item.id }}", "name": "{{ item.name }}", "image": "{% static item.image %}", "price": "{{ item.price }}" }'>

                                        <i class="icon-handbag icons"></i></a>
                                </li>
                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Product -->
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Top Rated Area -->



<input type="hidden" data-token="{% csrf_token %}">



<script>

    function Whishlist(data) {
        let store = JSON.parse(localStorage.getItem('items')) || []
        let date = JSON.parse(data.dataset.item)
        if (Check(date, store)) {
            let updata = store.filter(item => item.id !== date.id)
            localStorage.setItem('items', JSON.stringify(updata))
        }
        else {
            if (!store.some(item => item.id == date.id)) {
                store.push(date)
                localStorage.setItem('items', JSON.stringify(store))
            }
        }
    }
    function Check(data, store) {
        let a = store.some(item => item.id == data.id)
        return a
    }

</script>
<script>
    let store = JSON.parse(localStorage.getItem('cards')) || [];

    function Card(data) {
        let addcard = JSON.parse(data.dataset.card);

        if (!store.some(item => item.id === addcard.id)) {
            store.push(addcard);
            localStorage.setItem('cards', JSON.stringify(store));
        } else {
            store = store.filter(item => item.id !== addcard.id);
            localStorage.setItem('cards', JSON.stringify(store));
        }

        let c = document.getElementById('card_count');
        c.innerHTML = store.length;

        console.log(store.length);
    }

    let c = document.getElementById('card_count');
    c.innerHTML = store.length;
</script>



{% endblock %}